terraform {
  required_providers {
    coder = {
      source  = "coder/coder"
      version = "~> 0.6.12"
    }
    kubernetes = {
      source  = "hashicorp/kubernetes"
      version = "~> 2.12.1"
    }
  }
}

{{- if .Namespace.UserEditable }}
variable "namespace" {
  type        = string
  sensitive   = true
  description = "The Kubernetes namespace to create workspaces in (must exist prior to creating workspaces)"
}
{{- end }}

variable "home_disk_size" {
  type        = number
  description = "How large would you like your home volume to be (in GB)?"
  default     = 10
  validation {
    condition     = var.home_disk_size >= 1
    error_message = "Value must be greater than or equal to 1."
  }
}

{{- if .Resources.CPU.UserEditable }}
data "coder_parameter" "cpu" {
  name = "cpu"
  default = {{ .Resources.CPU.Value | quote }}
  description = "How many CPUs would you like your workspace to have?"
  type = number

	validation {
		min = {{ .Resources.CPU.Min }}
		max = {{ .Resources.CPU.Max }}
	}
}
{{- end }}

{{- if .Resources.Memory.UserEditable }}
data "coder_parameter" "memory" {
  name = "memory"
  default = {{ .Resources.Memory.Value | quote }}
  description = "How much memory in GB would you like your workspace to have?"
  type = number

	validation {
		min = {{ .Resources.Memory.Min }}
		max = {{ .Resources.Memory.Max }}
	}
{{- end }}

{{- if and .HomePVC .Resources.Disk.UserEditable }}
data "coder_parameter" "cpu" {
  name = "cpu"
  default = {{ .Resources.Disk.Value | quote }}
  description = "How large would you like your workspace disk to have in GB?"
  type = number

	validation {
		min = {{ .Resources.Disk.Min }}
		max = {{ .Resources.Disk.Max }}
		monotonic = "increasing"
	}
}
{{- end }}

provider "kubernetes" {}

data "coder_workspace" "me" {}

resource "coder_agent" "main" {
  os   = {{ .Os | quote }}
  arch = {{ .Arch | quote }}

  login_before_ready     = false
  startup_script_timeout = 180
  startup_script         = <<-EOT
    set -e

    # install and start code-server
    curl -fsSL https://code-server.dev/install.sh | sh -s -- --method=standalone --prefix=/tmp/code-server --version 4.8.3
    /tmp/code-server/bin/code-server --auth none --port 13337 >/tmp/code-server.log 2>&1 &
  EOT
}

# code-server
resource "coder_app" "code-server" {
  agent_id     = coder_agent.main.id
  slug         = "code-server"
  display_name = "code-server"
  icon         = "/icon/code.svg"
  url          = "http://localhost:13337?folder=/home/coder"
  subdomain    = false
  share        = "owner"

  healthcheck {
    url       = "http://localhost:13337/healthz"
    interval  = 3
    threshold = 10
  }
}

{{- if .HomePVC }}
resource "kubernetes_persistent_volume_claim" "home" {
  metadata {
    name      = "coder-${lower(data.coder_workspace.me.owner)}-${lower(data.coder_workspace.me.name)}-home"
    namespace = var.namespace
    labels = {
      "app.kubernetes.io/name"     = "coder-pvc"
      "app.kubernetes.io/instance" = "coder-pvc-${lower(data.coder_workspace.me.owner)}-${lower(data.coder_workspace.me.name)}"
      "app.kubernetes.io/part-of"  = "coder"
      // Coder specific labels.
      "com.coder.resource"       = "true"
      "com.coder.workspace.id"   = data.coder_workspace.me.id
      "com.coder.workspace.name" = data.coder_workspace.me.name
      "com.coder.user.id"        = data.coder_workspace.me.owner_id
      "com.coder.user.username"  = data.coder_workspace.me.owner
    }
    annotations = {
      "com.coder.user.email" = data.coder_workspace.me.owner_email
    }
  }
  wait_until_bound = false
  spec {
    access_modes = ["ReadWriteOnce"]
    resources {
      requests = {
			{{- if .Resources.Disk.UserEditable }}
        storage = "${data.coder_parameter.disk.value}Gi"
			{{- else }}
				storage = "{{ .Resources.Disk.Value }}Gi"
			{{- end }}
      }
    }
  }
}
{{- end }}

resource "kubernetes_pod" "main" {
  count = data.coder_workspace.me.start_count
  metadata {
    name      = "coder-${lower(data.coder_workspace.me.owner)}-${lower(data.coder_workspace.me.name)}"
    namespace = var.namespace
    labels = {
      "app.kubernetes.io/name"     = "coder-workspace"
      "app.kubernetes.io/instance" = "coder-workspace-${lower(data.coder_workspace.me.owner)}-${lower(data.coder_workspace.me.name)}"
      "app.kubernetes.io/part-of"  = "coder"
      // Coder specific labels.
      "com.coder.resource"       = "true"
      "com.coder.workspace.id"   = data.coder_workspace.me.id
      "com.coder.workspace.name" = data.coder_workspace.me.name
      "com.coder.user.id"        = data.coder_workspace.me.owner_id
      "com.coder.user.username"  = data.coder_workspace.me.owner
    }
    annotations = {
      "com.coder.user.email" = data.coder_workspace.me.owner_email
    }
  }
  spec {
    security_context {
      run_as_user = "1000"
      fs_group    = "1000"
    }
    container {
      name              = "dev"
      image             = {{ .Image | quote }}
      image_pull_policy = "Always"
      command           = ["sh", "-c", coder_agent.main.init_script]
      security_context {
        run_as_user = "1000"
      }
      env {
        name  = "CODER_AGENT_TOKEN"
        value = coder_agent.main.token
      }
		{{- if .HomePVC }}
      volume_mount {
        mount_path = "/home/coder"
        name       = "home"
        read_only  = false
      }
		{{- end }}
    }

	{{- if .HomePVC }}
    volume {
      name = "home"
      persistent_volume_claim {
        claim_name = kubernetes_persistent_volume_claim.home.metadata.0.name
        read_only  = false
      }
    }
	{{- end }}


    affinity {
      pod_anti_affinity {
        // This affinity attempts to spread out all workspace pods evenly across
        // nodes.
        preferred_during_scheduling_ignored_during_execution {
          weight = 1
          pod_affinity_term {
            topology_key = "kubernetes.io/hostname"
            label_selector {
              match_expressions {
                key      = "app.kubernetes.io/name"
                operator = "In"
                values   = ["coder-workspace"]
              }
            }
          }
        }
      }
    }
  }
}
