{{- define "readme" -}}
---
name: {{ .Name }}
description: {{ .Description }}
tags: [{{ join .Tags "," }}]
icon: {{ .Icon }}
---

# {{ .Platform }} Workspace

// TODO: Put in a url to get back to the wizard with pre-filled values



{{ end }}
